.footer {
  text-align: center;
  width: 100%;
  max-width: 880px;
  margin: 47px auto;
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  margin: 20px 0 20x 0;
  max-width: 318px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #545454;
}
