.header {
  margin: 0 auto;
  border-bottom: rgba(33%, 33%, 33%, 0.7);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.header__logo {
  max-width: 173px;
  max-height: 33px;
  margin: 0 0 41px 0;
}

@media screen and (max-width: 600px) {
  .header__logo {
    margin: 28px 0 32px 0;
    max-height: 24px;
    max-width: 126px;
  }
}
