.header {
  margin: 0 auto;
  border-bottom: rgba(33%, 33%, 33%, 0.7);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.header__logo {
  max-width: 173px;
  max-height: 33px;
  margin: 0 0 41px 0;
}
