.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  padding: 0 19px;
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 34px 36px 0;
  border-radius: 10px;
  max-width: 430px;
  width: 100%;
  min-height: 323px;
  box-sizing: border-box;
}

.modal__close {
  border: none;
  background: transparent url(../images/modal-close-icon.svg) center no-repeat;
  cursor: pointer;
  position: absolute;
  top: -39px;
  right: -37px;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  transform: rotate (90deg);
  transition: 0.3s;
  padding: 0;
  margin: 0;
  width: 35px;
  height: 35px;
  background-size: contain;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__heading {
  color: #000;
  width: 330px;
  height: 23px;
  top: 229px;
  left: 461px;
  font-family: Inter;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  margin-top: 2px;
}

.modal__input {
  margin-bottom: 27px;
  border: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  opacity: 20%;
  outline: none;
  padding: 5px 0;
  width: 358px;
  top: 333.26px;
  left: 461px;
}

.modal__form .modal__input:focus {
  border-bottom-color: rgba(0, 0, 0, 1);
  opacity: 100%;
}

.modal__form .modal__input::placeholder {
  color: rgb(0, 0, 0) !important;
}

.modal__form .modal__input::-webkit-input-placeholder {
  color: rgb(0, 0, 0) !important;
}

.modal__form .modal__input:-moz-placeholder {
  color: rgb(0, 0, 0) !important;
}

.modal__form .modal__input::-moz-placeholder {
  color: rgb(0, 0, 0) !important;
}

.modal__form .modal__input:-ms-input-placeholder {
  color: rgb(0, 0, 0) !important;
}

.modal__form-title {
  width: 358px;
  height: 27.26px;
  top: 306px;
  left: 461px;
  border: 1px;
  color: rgba(0, 0, 0, 1);
  border-bottom: 0, 0, 1px rgba(0, 0, 0, 1) 0;
  padding: 111px, 36px 29.74px, 36px;
}

.modal__form {
  margin-top: 27px;
}

.modal__save {
  width: 358px;
  height: 50.15px;
  margin-top: 21px;
  top: 438.34px;
  left: 461px;
  border-radius: 3px;
  background-color: #000;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-weight: 400px;
  font-size: 18px;
  align-content: center;
  line-height: 21.78px;
}

@media screen and (max-width: 520px) {
  .modal__container {
    padding: 25px 0px 0px 22px;
    margin: auto;
    max-width: 400px;
    min-height: 300px;
  }

  .modal__form {
    margin: 0px;
    padding: 0px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    position: absolute;
    margin-bottom: 14px;
    top: -40px;
    right: 10px;
    left: auto;
  }
}

@media screen and (max-width: 400px) {
  .modal__container {
    padding: 25px 22px 0px 22px;
    margin: auto;
    min-height: 300px;
  }

  .modal__form {
    margin: 0;
    border: 1px;
  }

  .modal__input {
    width: 100%;
  }

  .modal__save {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .modal__container {
    padding: 25px 22px 0px 22px;
    margin: auto;
    min-height: 322px;
  }

  .modal__form {
    margin: 0;
    width: 100%;
    border: 1px;
    padding-top: 40px;
  }

  .modal__heading {
    left: 22px;
    right: 22px;
    bottom: 275px;
    font-weight: 900;
    font-size: 18px;
  }

  .modal__save {
    width: 100%;
    height: 46px;
    margin: 48px, 0px, 37px, 0px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
  }

  .modal__input {
    width: 100%;
  }

  .modal__close {
    position: absolute;
    top: -50px;
    left: calc(100% - 12%);
    height: 26px;
    width: 26px;
  }
}
